html {
  height: 100%;
}
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
* {
  box-sizing: border-box;
  font-family: "Spoqa Han Sans";
  white-space: pre-wrap;
}
body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.answer-card:hover {
  background-color: #fff9da !important;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 360px;
}

@media only screen and (min-width: 768px) {
  #root {
    max-width: 360px;
  }
}
input {
  padding-left: 12px;
}
input::placeholder {
  font-size: 14px;
  color: #c9c9c9;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
}
.crawling_url::placeholder {
  font-size: 14px;
  color: #c9c9c9;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
}
