* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  white-space: pre-wrap;
}
body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.answer-card:hover {
  background-color: #ffc856 !important;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 360px;
}

@media only screen and (min-width: 768px) {
  #root {
    max-width: 360px;
  }
}
